<main>
  <div id="index-banner">
    <div class="section no-pad-bot parallax-container">
      <div class="container">
        <h2 class="header center teal-text lighten-3"><i class="extra-large material-icons">people</i></h2>
      </div>
      <div class="parallax"><img src="assets/img/youcoach_background1.jpg" alt="You-Coach"></div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3">You-Coach</h1>

        <p class="left-align light flow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ornare erat turpis,
          eget eleifend lectus sollicitudin elementum. Nunc vulputate, tortor ac euismod rhoncus, justo
          turpis fringilla mi, et lobortis tortor arcu a est. Mauris ut efficitur magna, vitae tincidunt
          felis. Ut pretium, risus vitae tristique dignissim.</p>

        <p class="left-align light flow-text">Lacus nisi hendrerit massa, in rutrum diam
          tellus nec tortor. Vivamus convallis ut tellus sit amet cursus. Morbi volutpat venenatis enim,
          nec sagittis sem euismod quis. Integer commodo massa rhoncus, varius dui vitae, sodales nunc.
          Quisque sed rutrum urna. Proin quis ex porttitor, posuere ligula vitae, pharetra eros.
          Mauris pretium enim nec mauris maximus aliquam.</p>
      </div>

    </div>

  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="black-text">It is action that creates motivation<i
            class="material-icons">format_quote</i></h5>
          <h6 class="light black-text"><i>Steve Backley</i></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/youcoach_background2.jpg" alt="You-Coach"></div>
  </div>

  <div class="container">
    <div id="coach-be-coached" class="section scrollspy">

      <div class="row">
        <div class="col s12 m6">
          <h2 class="center teal-text lighten-3">Coach</h2>
          <h5 class="center">Help others & learn by coaching</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare erat turpis,
            eget eleifend lectus sollicitudin elementum. Nunc vulputate, tortor ac euismod rhoncus, justo
            turpis fringilla mi, et lobortis tortor arcu a est. Mauris ut efficitur magna, vitae tincidunt
            felis. Ut pretium, risus vitae tristique dignissim, lacus nisi hendrerit massa, in rutrum diam
            tellus nec tortor. Vivamus convallis ut tellus sit amet cursus. Morbi volutpat venenatis enim,
            nec sagittis sem euismod quis. Integer commodo massa rhoncus, varius dui vitae, sodales nunc.
            Quisque sed rutrum urna. Proin quis ex porttitor, posuere ligula vitae, pharetra eros.
            Mauris pretium enim nec mauris maximus aliquam.</p>

          <div class="center">
            <a routerLink="/becomecoach" class="btn-large waves-effect waves-light yellow darken-2">
              <span class="black-text">Start Coaching</span>
            </a>
          </div>
        </div>

        <div class="col s12 m6">
          <h2 class="center teal-text lighten-3">Be Coached</h2>
          <h5 class="center">Improve by being coached</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare erat turpis,
            eget eleifend lectus sollicitudin elementum. Nunc vulputate, tortor ac euismod rhoncus, justo
            turpis fringilla mi, et lobortis tortor arcu a est. Mauris ut efficitur magna, vitae tincidunt
            felis. Ut pretium, risus vitae tristique dignissim, lacus nisi hendrerit massa, in rutrum diam
            tellus nec tortor. Vivamus convallis ut tellus sit amet cursus. Morbi volutpat venenatis enim,
            nec sagittis sem euismod quis. Integer commodo massa rhoncus, varius dui vitae, sodales nunc.
            Quisque sed rutrum urna. Proin quis ex porttitor, posuere ligula vitae, pharetra eros.
            Mauris pretium enim nec mauris maximus aliquam.</p>

          <div class="center">
            <a href="#" class="btn-large waves-effect waves-light yellow darken-2">
              <span class="black-text">Start becoming coached</span>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5>In learning you will teach, <br>and in teaching you will learn.<i class="material-icons">format_quote</i>
          </h5>
          <h6 class="light"><i>Phil Collins</i></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/img/youcoach_background3.jpg" alt="You-Coach"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="s12 center">
          <h2 class="teal-text lighten-3">Get in touch</h2>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ornare
            erat turpis,
            eget eleifend lectus sollicitudin elementum. Nunc vulputate, tortor ac euismod rhoncus, justo
            turpis fringilla mi, et lobortis tortor arcu a est. Mauris ut efficitur magna, vitae tincidunt
            felis. Ut pretium, risus vitae tristique dignissim, lacus nisi hendrerit massa, in rutrum diam
            tellus nec tortor. Vivamus convallis ut tellus sit amet cursus. Morbi volutpat venenatis enim,
            nec sagittis sem euismod quis. Integer commodo massa rhoncus, varius dui vitae, sodales nunc.
            Quisque sed rutrum urna. Proin quis ex porttitor, posuere ligula vitae, pharetra eros.
            Mauris pretium enim nec mauris maximus aliquam.</p>
        </div>
      </div>

    </div>
  </div>
</main>
