<div class="col s12 m10">
  <div class="content-container">

    <section class="card-panel grey lighten-5">

      <h5>Edit profile Information</h5>
      <div class="divider"></div>
      <div class="row" *ngIf="coach">
        <form class="col s12" [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="col l2 m2 s12">
            <img [src]="'http://localhost:8080/users/profile/' + coach.id + '/image' | authImage | async" class="responsive-img circle" alt="Profile Picture">
          </div>
          <div class="col l10 m10 s12">
            <table class="highlight">
              <tbody>

              <tr>
                <td>
                  <label for="introduction" translate>coach-information.label.introduction</label>
                  <input id="introduction" class="input-field validate" required formControlName="introduction" name='coach.introduction'/>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="availability" translate>coach-information.label.availability</label>
                  <input id="availability" class="input-field validate" required formControlName="availability" name='coach.availability'>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="right-align">
                    <button style="margin-right: 30px" class="waves-effect waves-light teal lighten-3 btn-large black-text" translate>profile-information.button.cancel<i class="material-icons right">cancel</i></button>
                    <button class="waves-effect waves-light yellow darken-2 btn-large black-text" type="submit" translate>profile-information.button.save<i class="material-icons right">save</i></button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>


