<main>
  <div class="content-container-with-padding" style="display: flex; justify-content: space-around">
    <div class="card center-align" style="max-width: 700px; display: inline-block">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../../assets/img/failure.png" height="512" width="512" alt="failure"/>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Failure!</span>
        <p>
          The password change you requested has failed.
        </p>
      </div>
    </div>
  </div>
</main>
