<main>
  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <h1 class="center teal-text lighten-3">Sign in</h1>
        <div class="content-container-with-padding z-depth-4">
          <div class="row">
            <form class="col s12" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" formControlName="username">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" formControlName="password">
                  <label for="password">Password</label>
                </div>
              </div>
              <p *ngIf="success" class="alert alert-primary" translate>sign-in.message.login-successful</p>
              <p *ngIf="error" class="alert alert-danger" translate>sign-in.message.login-failed</p>
              <div class="row right-align">
                <button class="waves-effect waves-light teal lighten-3 btn-large black-text" (click)="logout()">Logout<i
                  class="material-icons right">autorenew</i></button>
                <button type="submit" class="waves-effect waves-light yellow darken-2 btn-large black-text">Sign in<i
                  class="material-icons right">send</i></button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
