<main>
  <div id="index-banner">
    <div class="section no-pad-bot ">
      <div class="container">

      </div>
      <div><img class="responsive-img" src="/assets/img/youcoach_bgd.png" alt="You-Coach Logo"></div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <!-- <h1 class="center teal-text lighten-3" style = "font-family:gentium">You-Coach</h1>-->

        <p class="left-align light flow-text">You-Coach est un programme de coaching scolaire entre élèves,
          encadré par l’école.</p>
        <p class="left-align light flow-text">
          Les élèves en difficulté dans une matière et qui souhaitent progresser
          peuvent demander des explications et conseils
          à d’autres élèves de leur école qui maitrisent cette matière
          ou ont déjà acquis une bonne méthode de travail.</p>
        <p class="left-align light flow-text">
          Avec You-Coach tout est simple et rapide :
          il suffit de s’inscrire comme Coach ou de demander une séance de coaching sur ce site Web,
          et celui-ci organisera une séance de coaching particulier, dans l’école.
        </p>
      </div>

    </div>

  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="black-text">C'est l'action qui crée la motivation<i
            class="material-icons">format_quote</i></h5>
          <h6 class="light black-text"><i>Steve Backley</i></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="responsive-img" src="/assets/img/BG_TEST1.jpg" alt="You-Coach"></div>
  </div>

  <div class="container" style="width: 90%">
    <div id="coach-be-coached" class="section scrollspy">

      <div class="row">
        <div class="col s12 m6" style="padding-left: 30px !important; padding-right: 30px !important;">
          <h3 class="center teal-text lighten-3">Bénéficie du coaching</h3>
          <h5 class="center">Pour améliorer tes résultats scolaires<br> et retrouver de la motivation</h5>

          <p class="light">Si tu as des difficultés dans une matière et que tu souhaites progresser,
            prends rendez-vous pour un coaching particulier,
            et bénéficie de l’expérience scolaire et pratique d’un autre élève de ton école,
            qui comprendra bien tes besoins concrets.
            <span class="teal-text"><br>Ta volonté de progresser sera reconnue par ton école.</span>
          </p>

          <div class="center">
            <a href="#" class="btn-large waves-effect waves-light teal lighten-3" style="margin-right: 30px">
              <span class="black-text">Inscris-toi !</span>
            </a>
          </div>
        </div>

        <div class="col s12 m6" style="padding-left: 30px !important; padding-right: 30px !important;">
          <h3 class="center teal-text lighten-3">Deviens un super Coach!</h3>
          <h5 class="center">Pour aider les autres<br> et augmenter ton potentiel</h5>

          <p class="light">
            Si tu te sens fort dans une matière et que tu as envie d’aider d’autres élèves,
            inscris-toi comme Coach dans ton école,
            tu renforceras tes connaissances dans cette matière, tu développeras de nouvelles compétences et surtout tu te sentiras utile.
            <span class="teal-text"><br>Ton engagement sera reconnu et récompensé par ton école.</span>
          </p>

          <div class="center">
            <a href="#" class="btn-large waves-effect waves-light yellow darken-2" style="margin-right: 30px">
              <span class="black-text">Connecte-toi !</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5>In learning you will teach, <br>and in teaching you will learn.<i class="material-icons">format_quote</i>
          </h5>
          <h6 class="light"><i>Phil Collins</i></h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img class="responsive-img" src="/assets/img/BG_TEST2.jpg" alt="You-Coach"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="s12 center">
          <h2 class="teal-text lighten-3">Des questions ?</h2>
          <p class="center-align light">Tu peux cliquer sur les bouttons ci-dessous pour te rendre sur la page des questions fréquentes ou pour contacter le coordinateur You-Coach de ton école. N'hésite pas à en parler à ton titulaire en classe !
          </p>
          <div class="center">
            <a href="#" class="btn-large waves-effect waves-light yellow darken-2" style="margin-right: 30px">
              <span class="black-text">Page FAQ</span>
            </a>
            <a href="#" class="btn-large waves-effect waves-light teal lighten-3">

              <span class="black-text">Contacter le coordinateur</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
