<form>
  <label>Token: <input id="token" name="token" [(ngModel)]="token" type="text" /></label><br />
  <label>Email: <input id="email" name="email" [(ngModel)]="email" type="text" /></label><br />
  <label>Password: <input id="password" name="password" [(ngModel)]="password" type="password" /></label><br />
  <label>Repeat password: <input id="repeatPassword" name="repeatPassword" [(ngModel)]="repeatPassword" type="password" /></label><br />
  <button [disabled]="!validEmailEntered() && password === repeatPassword && password !== ''" (click)="resetPassword()">resetPassword</button>
</form>
