<main>
  <div class="content-container-with-padding" style="display: flex; justify-content: space-around">
    <div class="card center-align" style="max-width: 700px; display: inline-block">

      <h3>Reset your password.</h3>
      <form style="padding-top: 15px;padding-bottom: 15px;">
        <label>Token: <input id="token" name="token" [(ngModel)]="token" type="text" /></label>
        <label>Email: <input id="email" name="email" [(ngModel)]="email" type="text" /></label>
        <label>Password: <input id="password" name="password" [(ngModel)]="password" type="password" /></label>
        <label>Repeat password: <input id="repeatPassword" name="repeatPassword" [(ngModel)]="repeatPassword" type="password" /></label>
        <button class="btn waves-effect waves-light" [disabled]="!validEmailEntered() && password === repeatPassword && password !== ''"
                (click)="resetPassword()">Reset your password<i class="material-icons right">send</i></button><br />
      </form>

    </div>
  </div>
</main>
