<footer class="page-footer yellow darken-2" id="footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">

        <h5 class="black-text">You-Coach</h5>
        <p class="grey-text text-darken-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nulla ornare erat turpis, eget eleifend lectus sollicitudin elementum. Leifend lectus sollicitudin
          elementum lectus sollicitudin elementum.</p>

      </div>
      <div class="col l3 s12">
        <h5 class="black-text">Navigation</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>Home</a>
          </li>
          <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>Sign
            in / Register</a></li>
          <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>Contact</a>
          </li>
          <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>About
            us</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="black-text">Social media</h5>
        <ul>
          <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>Facebook</a>
          </li>
          <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>LinkedIn</a>
          </li>
          <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>Twitter</a>
          </li>
          <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
      Web application proudly created by <a class="grey-text text-darken-2" href="https://switchfully.com">Switchfully</a>
      students.
    </div>
  </div>
</footer>
