<main>
  <div class="content-container-with-padding" style="display: flex; justify-content: space-around">
    <div class="card center-align" style="max-width: 700px; display: inline-block">
      Before you're able to log-in, your email-account needs to be verified as working and controlled by you.<br />
      To do this we have sent an email to it with a link that you can use to activate your account.<br />
      <form style="padding-bottom: 15px;padding-top: 15px;">
        <label>Token: <input id="token" name="token" [(ngModel)]="token" type="text" /></label><br />
        <label>Email: <input id="email" name="email" [(ngModel)]="email" type="text" /></label><br />
        <button class="btn waves-effect waves-light" [disabled]="!validEmailEntered()" (click)="validateAccount()">validate<i class="material-icons right">send</i></button>&nbsp;
        <button class="btn waves-effect waves-light" [disabled]="!validEmailEntered()" (click)="resendValidationtoken()">Resend validation token<i class="material-icons right">send</i></button>
        <div *ngIf="validationFailed" style="color: red; font-weight: bold;">Validation failed.</div>
      </form>

    </div>
  </div>
</main>
