<main>
<div class="row">
  <div class="col s12 m2">
    <div class="content-container">
      <h6 translate>my-profile-menu.title</h6>
      <div class="collection">
        <a  class="collection-item grey-text text-darken-2" routerLink="/coach-profile" translate >my-profile-menu.link.profile-information</a>
<!--        DO NOT DELETE-->
<!--        <a href="#!" class="collection-item grey-text text-darken-2" translate >my-profile-menu.link.coaching-sessions<span-->
<!--          class="btn-floating btn-small teal lighten-3 pulse">1</span></a>-->
        <a  class="collection-item black-text active teal lighten-3" routerLink="/change-topics" translate >my-profile-menu.link.request-profile-change</a>
      </div>
    </div>
  </div>

<div class="col s12 m10">
  <div class="content-container">

    <section class="card-panel grey lighten-5">
      <h5 translate>request-profile-change.title</h5>
      <div class="divider"></div>
      <div class="row">
        <div class="col l2 m2 s12">
          <img src="/assets/img/image_preview.png" class="responsive-img"
               alt="Under Construction">
        </div>
        <div class="col l10 m10 s12">
          <span class="black-text" translate>request-profile-change.text.under-construction</span>


          <div class="row right-align">
            <a
              href="mailto:driesbodaer@hotmail.com
     ?cc=omar.lamrabet@vdab.be
     &subject=change topics&body=
     full Name: %0D%0A
     The list of topics (topic + grade) for which you would like a change: %0D%0A"
              class="btn-large waves-effect waves-light teal lighten-3" translate>request-profile-change.button.send-email<i
              class="material-icons right">send</i></a>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>

</div>
</main>
