<main>
  <div class="content-container-with-padding" style="display: flex; justify-content: space-around">
    <div class="card center-align" style="max-width: 700px; display: inline-block">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="../../assets/img/success-startup1.jpg" height="340" width="700"/>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Success!</span>
        <p>
          You successfully registered.
        </p>
      </div>
    </div>
  </div>
</main>
