<div class="col s12 m12">
  <div class="content-container">

    <section class="card-panel grey lighten-5" *ngIf="coach">
      <div class="row">

        <div class="col s4">
          <h5 translate>my-profile-menu.link.profile-information</h5>      
        </div>
      </div>

      <div class="divider"></div>
      <div class="row">
        <div class="col l2 m2 s12">
          <img [src]="'' + coach.id | authImage | async" class="responsive-img circle"
               alt="Profile Picture">
        </div>
        <div class="col l12 m12 s12">
          <table class="highlight">
            <tbody>
            <tr>
              <td><strong translate>coach-profile-information.label.first-name</strong></td>
              <td>{{coach.firstName}}</td>
            </tr>
            <tr>
              <td><strong translate>coach-profile-information.label.last-name</strong></td>
              <td>{{coach.lastName}}</td>
            </tr>
            <tr *ngIf="coach.email !== null">
              <td><strong translate>coach-profile-information.label.email</strong></td>
              <td>{{coach.email}}</td>
            </tr>
            <tr>
              <td><strong translate>profile-information.label.class</strong></td>
              <td>{{coach.classYear}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="authenticationService.isAdmin()" class="col">
          <a class="waves-effect waves-light btn yellow darken-2 black-text" [routerLink]="'/coachee/' + coach.id + '/edit-profile'" translate>coach-profile-information.button<i class="material-icons left">edit</i></a>
        </div>
    </section>
    <div>
      <div class="divider"></div>
      <section class="card-panel grey lighten-5 ">
        <h5 translate>coach-information.title</h5>
        <div class="divider"></div>
        <div class="row">
          <div class="col l12 m12 s12">
            <table class="highlight">
              <tbody>
              <tr>
                <td><strong translate>coach-information.label.introduction</strong></td>
                <td translate>{{coach.introduction}}</td>
              </tr>
              <tr>
                <td><strong translate>coach-information.label.availability</strong></td>
                <td>{{coach.availability}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="coach.email !== null"  class="col">
          <a class="waves-effect waves-light btn teal lighten-3 black-text " [routerLink]="'/coach/' + idToGet + '/edit-coach-information'" translate>coach-information.button<i class="material-icons left">edit</i></a>
        </div>
      </section>

      <div class="divider"></div>
      <section class="card-panel grey lighten-5">
        <h5 translate>coaching-topics.title</h5>
        <div class="divider"></div>
        <div class="row">
          <div class="col s12">
            <table class="highlight">
              <tbody>
              <tr *ngFor="let topic of coach.topics">
                <td><strong>{{topic.name}}</strong></td>
                <td> 
                  <div class="center">
                    <span translate>coaching-topics.label.year</span> : <a class="btn-floating " [class.disabled]="!topic.grades.includes(1)"><i class="material-icons">filter_1</i></a>
                    <a class="btn-floating " [class.disabled]="!topic.grades.includes(2)"><i class="material-icons">filter_2</i></a>
                    <a class="btn-floating " [class.disabled]="!topic.grades.includes(3)"><i class="material-icons">filter_3</i></a>
                    <a class="btn-floating " [class.disabled]="!topic.grades.includes(4)"><i class="material-icons">filter_4</i></a>
                    <a class="btn-floating " [class.disabled]="!topic.grades.includes(5)"><i class="material-icons">filter_5</i></a>
                    <a class="btn-floating " [class.disabled]="!topic.grades.includes(6)"><i class="material-icons">filter_6</i></a>
                    <a class="btn-floating " [class.disabled]="!topic.grades.includes(7)"><i class="material-icons">filter_7</i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col" *ngIf="authenticationService.isAdmin()">
          <a class="waves-effect waves-light btn teal lighten-3 black-text " [routerLink]="'/coach/' + idToGet + '/edit-topic'" translate>coaching-topics.button<i class="material-icons left">edit</i></a>
        </div>
      </section>
          <div>
            <br>
          </div>
          <div class="center">
          <button class="waves-effect waves-light yellow darken-2 btn-large black-text" routerLink="request-a-session" translate>request-session.button.request-session<i class="material-icons left">event</i></button>
        </div>
    </div>
  </div>
</div>
