<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:remove="all">Password reset requested</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Hello, <span th:text="${fullName}">unknown user</span>, you are receiving this email because you or someone else requested a password reset at
    <span th:text="${hostName}">YouCoach</span>.
</p>
<p>
    If this action was taken by you, great!<br />
    <br />
    You can just <a th:href="@{http://localhost:4200/password-reset(token=${token})}" href="${hostName}">proceed with your password reset</a>.
    If a token hasn't been automatically inserted for you when you get there then please present the following one:<br /><br />
    <span th:text="${token}"></span>
</p>
<p>
    If this action wasn't taken by you: no panic. Your password is safe and unchanged. You may just ignore this message.
</p>
<p>
    The <span th:text="${firmName}">youcoach</span> team.
</p>
</body>
</html>