<div class="col l2 m2 s12">
  <div class="row">
    <img [src]="profileId.toString() | authImage | async"
         class="responsive-img circle" alt="Profile Picture" #profilePictureElem>
  </div>
  <form class="row" [formGroup]="imageForm" (ngSubmit)="onSubmit(imageForm.value)">
    <div class="col" *ngIf="!tempProfilePicture">
      <div class="file-field input-field btn-large btn-floating center-align">
        <span><i class="material-icons">cloud_upload</i></span>
        <input type="file" formControlName="profilePicture"
               (change)="onFileChanged($event.target.files[0], profilePictureElem)"/>
      </div>
    </div>
    <div *ngIf="tempProfilePicture" class="col input-field right-align">
      <button type="submit" [disabled]="(!imageForm.valid)" class="btn-large btn-floating green"><i class="material-icons">check</i></button>
      <button type="button" (click)="onCancel(profilePictureElem)" class="btn-large btn-floating red"><i
        class="material-icons">clear</i></button>
    </div>
  </form>
  <div class="row">
    <span *ngIf="imageForm.get('profilePicture').hasError('tooBig')" class="red-text text-lighten-1" translate>update-image.message.file-too-big</span>
  </div>
</div>
