<div class="col s12 m10">
  <div class="content-container">

    <section class="card-panel grey lighten-5">

      <h5>Edit profile Information</h5>
      <div class="divider"></div>
      <div class="row">
        <form class="col s12" [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
          <div class="col l2 m2 s12">
            <img [src]="editForm.value.photoUrl" class="responsive-img circle" alt="Profile Picture">
          </div>
          <div class="col l10 m10 s12">
            <table class="highlight">
              <tbody>
              <tr>
                <td><strong translate>profile-information.label.first-name</strong></td>
                <td class="input-field">
                  <input id="first_name" type="text" class="validate" required formControlName="firstName" name='firstName'>
                  <span #firstnamerequired hidden translate>register.message.first-name-required</span>
                  <span [attr.data-error]="firstnamerequired.innerText" class="helper-text"></span>
                </td>
              </tr>
              <tr>
                <td><strong translate>profile-information.label.last-name</strong></td>
                <td class="input-field">
                  <input id="last_name" type="text" class="validate" required formControlName="lastName"
                         name='lastName'>
                  <span #lastnamerequired hidden translate>register.message.last-name-required</span>
                  <span [attr.data-error]="lastnamerequired.innerText" class="helper-text"></span>
                </td>
              </tr>
              <tr>
                <td><strong translate>profile-information.label.class-year</strong></td>
                <td class="input-field">
                  <input id="class_year" type="text" class="validate" required formControlName="classYear" name='classYear'>
                  <span #classyearrequired hidden translate>register.message.class-year-required</span>
                  <span [attr.data-error]="classyearrequired.innerText" class="helper-text"></span>
                </td>
              </tr>
              <tr>
                <td><strong translate>profile-information.label.email</strong></td>
                <td class="input-field">
                  <input id="email" type="email" class="validate" required
                         pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" formControlName="email" name='email'>
                  <span class="helper-text red-text darken-2" *ngIf="emailExistsError" translate>register.message.email-in-use</span>
                  <span #wrongemailformat hidden translate>register.message.email-wrong-format</span>
                  <span [attr.data-error]="wrongemailformat.innerText" class="helper-text"></span>
                </td>
              </tr>
              <tr>
                <td><strong translate>profile-information.label.profile-picture</strong></td>
                <td class="input-field">
                  <input id="photoUrl" type="email" class="validate" formControlName="photoUrl" name='photoUrl'>
                </td>
              </tr>
              <tr>
                <td class="right-align" colspan="2">
                  <button style="margin-right: 30px"
                          class="waves-effect waves-light teal lighten-3 btn-large black-text" (click)="onBack()"
                          translate>profile-information.button.cancel<i
                    class="material-icons right">cancel</i></button>
                  <button [disabled]="(!editForm.valid)"
                          class="waves-effect waves-light yellow darken-2 btn-large black-text" type="submit" translate>
                    profile-information.button.save<i
                    class="material-icons right">save</i></button>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </form>
      </div>
    </section>

  </div>
</div>



