<!--<p>Great, you successsfully validated your email-address!<br />-->
<!--  You now proceed to <a routerLink="/login">login</a>-->
<!--</p>-->
<main>
  <div class="content-container-with-padding" style="display: flex; justify-content: space-around">
<div class="card center-align" style="max-width: 700px; display: inline-block">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="../../assets/img/success-startup1.jpg" height="340" width="700"/>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Success!</span>
    <p>Great, you successfully validated your email-address!<br />
      You can now proceed to</p><a class="vawaves-effect waves-light yellow darken-2 btn black-text" routerLink="/login"
                               translate>menu.button.sign-in<i
    class="material-icons right">person</i></a>
  </div>
</div>
  </div>
</main>

<!--<a class="waves-effect waves-light btn" routerLink="/login">Login</a>-->
