

<main>

  <div class="row">

    <div class="col s12 m2">
      <div class="content-container">
        <h6>My Profile</h6>
        <div class="collection">
          <a href="#!" class="collection-item grey-text text-darken-2" routerLink="/profile" translate>my-profile-menu.link.profile-information</a>
          <a href="#!" class="collection-item grey-text text-darken-2"translate>my-profile-menu.link.coaching-sessions</a>
          <a href="#!" class="collection-item black-text active yellow darken-2" routerLink="/becomecoach"translate>my-profile-menu.link.apply-to-become-a-coach</a>
        </div>
      </div>
    </div>

    <div class="col s12 m10">
      <div class="content-container">

        <section class="card-panel grey lighten-5">
          <h5 translate>my-coach-profile-menu.link.request-profile-change</h5>
          <div class="divider"></div>
          <div class="row">
            <div class="col l2 m2 s12">
              <img src="/assets/img/image_preview.png" class="responsive-img"
                   alt="Under Construction">
            </div>
            <div class="col l10 m10 s12">
              <span class="black-text" translate>request-profile-change.text.under-construction</span>

              <div class="row right-align">
                <a
                  href="mailto:driesbodaer@hotmail.com
     ?cc=omar.lamrabet@vdab.be
     &subject=Become a coach&body=
     Your full name: %0D%0A
     Your motivation to become a coach: %0D%0A
     The list of topics (topic + grade) on which you would like to coach: "
                  class="btn-large waves-effect waves-light yellow darken-2" translate>request-profile-change.button.send-email<i
                  class="material-icons right">send</i></a>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
</main>

