<div id="index-banner">
  <div class="section no-pad-bot parallax-container">
    <div class="container">
      <h2 class="header center teal-text lighten-3">Register to become a coach</h2>
    </div>
    <div class="parallax"><img src="/assets/img/youcoach_background1.jpg" alt="You-Coach"></div>
  </div>
</div>


<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img src="/assets/img/image_preview.png" alt="" class=" responsive-img"> <!-- notice the "circle" class -->
      </div>
      <div class="col s10">
              <span class="black-text">
                This part of the application is currently still under construction. In order to become a coach please send an email to your administration with the following information: <br/>
  Your full name <br/>
  Your motivation to become a coach <br/>
  The list of topics (topic + grade) on which you would like to coach <br/>
              </span>
      </div>
    </div>
    <div class="center"><a
      href="mailto:driesbodaer@hotmail.com
     ?cc=omar.lamrabet@vdab.be
     &subject=Become a coach&body=
     Your full name: %0D%0A
     Your motivation to become a coach: %0D%0A
     The list of topics (topic + grade) on which you would like to coach: "
      class="btn-large waves-effect waves-light yellow darken-2">
      <span class="black-text">Send Mail</span>
    </a>
    </div>
  </div>
</div>


