main {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  background: url(/assets/images/header.jpg) no-repeat center center fixed;
  background-size: cover;
}

.teams-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom left,rgba(82,178,164,.7),rgba(173,224,228,.5))!important;
}

.team-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-grid-row {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.team-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,.125);
  background: rgba(169,169,169,.4);
  width: 300px;
  height: 300px;

  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  color: #FFF;
}

.team-grid-item:hover {
  background: lightgray;
  color: transparent;
}

.north:hover {
  background: url("/assets/images/north.png") no-repeat center center;
  background-size: 75% 75%;
  border:  1px solid rgb(255, 255, 255);
}

.east:hover {
  background: url("/assets/images/east.png") no-repeat center center;
  background-size: 75% 75%;
  border:  1px solid rgb(255, 255, 255);
}

.south:hover {
  background: url("/assets/images/south.png") no-repeat center center;
  background-size: 75% 75%;
  border:  1px solid rgb(255, 255, 255);
}

.west:hover {
  background: url("/assets/images/west.png") no-repeat center center;
  background-size: 75% 75%;
  border:  1px solid rgb(255, 255, 255);
}
