<main>
  <div class='teams-container'>
    <div class='team-grid'>
      <a class='team-grid-item north' target="_blank" href="https://youcoach-frontend-north.herokuapp.com/">
        <div class="team">North</div>
      </a>
      <div class='team-grid-row'>
        <a class='team-grid-item west' target="_blank" href="https://you-coach.herokuapp.com/">
          <div class="team">West</div>
        </a>
        <a class='team-grid-item east' target="_blank" href="https://eastern-youcoach.herokuapp.com/">
          <div class="team">East</div>
        </a>
      </div>
      <a class='team-grid-item south' target="_blank" href="https://you-coach-south.herokuapp.com/">
        <div class="team">South</div>
      </a>
    </div>
  </div>
</main>
