<main>

  <div class="row">

    <div class="col s12 m10">
      <div class="content-container">

        <section class="card-panel grey lighten-5" *ngIf="member">
          <div class="right">
            <a class="waves-effect waves-light btn-large btn-floating yellow darken-2"><i
              class="material-icons left" [routerLink]="'/coachee/edit-profile/' + member.id">edit</i>Edit</a>
          </div>
          <h5 translate>profile-information.title</h5>
          <div class="divider"></div>
          <div class="row">
            <div class="col l2 m2 s12">
              <img [src]="member.id.toString() | authImage | async" class="responsive-img circle"
                   alt="Profile Picture">
            </div>
            <div class="col l10 m10 s12">
              <table class="highlight">
                <tbody>
                <tr>
                  <td><strong translate>profile-information.label.first-name</strong></td>
                  <td>{{member.firstName}}</td>
                </tr>
                <tr>
                  <td><strong translate>profile-information.label.last-name</strong></td>
                  <td>{{member.lastName}}</td>
                </tr>
                <tr>
                  <td><strong translate>profile-information.label.email</strong></td>
                  <td>
                    {{member.email}}
                  </td>
                </tr>
                <tr>
                  <td><strong translate>profile-information.label.class</strong></td>
                  <td>{{member.classYear}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</main>




