<main>

  <div class="row">

    <div class="col s12 m2">
      <div class="content-container">
        <h6 translate>my-profile-menu.title</h6>
        <div class="collection">
          <a class="collection-item black-text active yellow darken-2" routerLink="/profile" translate>my-profile-menu.link.profile-information</a>
          <a class="collection-item grey-text text-darken-2 " routerLink="/my-sessions" translate>my-profile-menu.link.coaching-sessions</a>
          <a class="collection-item grey-text text-darken-2" routerLink="/becomecoach" translate>my-profile-menu.link.apply-to-become-a-coach</a>
        </div>
      </div>
    </div>

    <div class="col s12 m10">
      <div class="content-container">

        <section class="card-panel grey lighten-5">
          <div class="right">
            <a class="waves-effect waves-light btn-large btn-floating yellow darken-2"><i
              class="material-icons left" routerLink="/edit-profile">edit</i>Edit</a>
          </div>
          <h5 translate>profile-information.title</h5>
          <div class="divider"></div>
          <div class="row">
            <div class="col l2 m2 s12">
              <img src="{{member.photoUrl}}" class="responsive-img circle"
                   alt="Profile Picture">
            </div>
            <div class="col l10 m10 s12">
              <table class="highlight">
                <tbody>
                <tr>
                  <td><strong translate>profile-information.label.first-name</strong></td>
                  <td>{{member.firstName}}</td>
                </tr>
                <tr>
                  <td><strong translate>profile-information.label.last-name</strong></td>
                  <td>{{member.lastName}}</td>
                </tr>
                <tr>
                  <td><strong translate>profile-information.label.email</strong></td>
                  <td>
                    {{member.email}}
                  </td>
                </tr>
                <tr>
                  <td><strong translate>profile-information.label.class</strong></td>
                  <td>{{member.classYear}}</td>
                </tr>
<!--                <tr>-->
<!--                  <td><strong translate>profile-information.label.role</strong></td>-->
<!--                  <td>{{member.youcoachRole}}</td>-->
<!--                </tr>-->
                </tbody>
              </table>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>
</main>




